<p id="notice"><%= notice %></p>

<h1>Kvartallar</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Adı</th>
      <th>Coğrafi Koordinatlar [En/Uzun dairəsi]</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quarters.each do |quarter| %>
      <tr>
        <td><%= "#{quarter.parent}" %></td>
        <td><%= "#{quarter.lat} / #{quarter.lng}" %></td>
        <td><%= link_to 'Edit', edit_admin_quarter_path(quarter) %></td>
        <td><%= link_to 'Destroy', admin_quarter_path(quarter), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quarter', new_admin_quarter_path, class: 'btn btn-info' %>
