<p id="notice"><%= notice %></p>

<h1>Ağac Hündürlükləri</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Ağac</th>
      <th>Hündürlük dərəcəsi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @height_ranges.each do |height_range| %>
      <tr>
        <td><%= link_to height_range.tree.name, edit_admin_tree_path(height_range.tree) %></td>
        <td><%= height_range.classification.name %></td>
        <td><%= link_to 'Edit', edit_admin_height_range_path(height_range) %></td>
        <td><%= link_to 'Destroy', admin_height_range_path(height_range), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Height range', new_admin_height_range_path, class: "btn btn-info" %>
