<p id="notice"><%= notice %></p>

<h1>Listing Forestries</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Adı</tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forestries.each do |forestry| %>
      <tr>
        <td><%= forestry.first  %></td>
        <td><%= link_to 'Edit', edit_admin_forestry_path(forestry.last) %></td>
        <td><%= link_to 'Destroy', admin_forestry_path(forestry.last), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forestry', new_admin_forestry_path, class: "btn btn-info" %>
