<div class="well">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= report_header @region.name, @forestry.name, @detour.name_on_report, @quarter.name_on_report %>
    </div>
  </div>
</div>

<table data-user-id="<%= session[:user_id] %>" class="table table-condensed table-bordered table-hover">
  <thead>
    <tr>
      <th rowspan="3">Ağac</th>
      <th rowspan="3"> Diametr</th>
      <th colspan="4">Texniki yararlılığına görə sayı, həcmlə</th>
      <th colspan="8">HƏCMİ , m<sup>3</sup></th>
    </tr>    
    <tr>
      <th rowspan="2">İşlik</th>    
      <th rowspan="2">Yarım işlik</th>
      <th rowspan="2">Odunluq</th>
      <th rowspan="2">Cəmi</th>
      <th colspan="4">İşlik</th>
      <th rowspan="2">Odun</th>
      <th rowspan="2">Şax, çırpı</th>
      <th rowspan="2">Çətirdən odun</th>
      <th rowspan="2">Cəmi</th>
    </tr>
    <tr>
      <th>İri</th>
      <th>Orta</th>
      <th>Xırda</th>
      <th>Cəmi</th>     
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'table_items'  %>
  </tbody>
  <tfoot>
    <%= render partial: 'table_inline_form' %>
    <tr>
      <td colspan="6">
        <p>
        Dəymiş ziyanın məbləği
        </p>
        <td data-type='large'></td>
        <td data-type='mid'></td>
        <td data-type='small'></td>
        <td data-type=''></td>
        <td data-type='combustible'></td>
        <td data-type='garbage'></td>
        <td data-type='umbrella'></td>
        <td><strong id="total-sum"></strong></td>
      </td>
    </tr>    
  </tfoot>

</table>

<div class="hidden-print">
  <div class="row result-page-buttons">
    <div class="col-md-2">
      <%= link_to "Çapa göndər", "#", onclick: "printPage()", class: "btn btn-success" %>      
    </div>
    <div class="col-md-2">
      <%= link_to "Əlavə et", "#", class: "btn btn-info", id: 'inline-form-submit' %>  
    </div>

    <div class="col-md-2">
      <%= link_to "Tərtib et", "#", class: "btn btn-default", id: 'make-report' %>  
    </div>

  </div>

</div>

