<!DOCTYPE html>
<html>
<head>
  <title>Ecology Fines</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'print', media: 'print' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="no-print">
    <div class="row">
      <div class="col-md-12">
        <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <nav class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
              	<li></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    </div>
 
    <div class="row">
      <div class="col-md-12">
        <%= yield %>            
      </div>
    </div>
  </div>

</body>
</html>